* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: #c9d1d9;
}

.calculator {
  width: 330px;
  background: #e2e6eb;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.result {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  background: #f1f4f7;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.result input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 0 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: right;
  font-size: 30px;
  color: #333;
  pointer-events: none;
}

.buttons {
  text-align: center;
  padding: 30px 0 0 0;
}

input[type="button"] {
  height: 56px;
  width: 56px;
  font-size: 23px;
  margin: 4px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #333;
  background: #e4e7eb;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

input[type="button"]:focus {
  transform: scale(0.9);
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 2px 2px 5px rgba(94, 104, 121, 0.288);
}

#equal {
  background: #2a5ab6;
  color: #fff;
  box-shadow: -3px -3px 7px #3e567976, 2px 2px 5px rgba(41, 58, 87, 0.288);
}

#equal:focus {
  transform: scale(0.9);
  box-shadow: inset -3px -3px 7px #28477776,
    inset 2px 2px 5px rgba(41, 58, 87, 0.288);
}
