@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}

body{
    background-color: #5f41e4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    max-width: 425px;
    flex-grow: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}

.search-section{
    display: flex;
    padding: 25px;
    align-items: center;
    gap: 10px;
}

.input-section{
    height: 54px;
    width: 100%;
    position: relative;
}


.input-section span{
    position: absolute;
    top: 50%;
    left: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}

.search-input{
    height: 100%;
    width: 100%;
    padding: 0 20px 0 50px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #beb0ff;
    text-transform: uppercase;
       transition: 0.1s ease;
}

.search-input::placeholder{
    text-transform: none;
}

.search-input:focus{
    border-color: #5f41e4;
}

.location{
    height: 54px;
    width: 56px;
    background: #fff;
    outline: none;
    color: #5f41e4;
    cursor: pointer;
    border-radius: 6px;
        border: 1px solid #beb0ff;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
}

.location:hover{
    color: #fff;
    background-color: #5f41e4;
    border-color: #5f41e4;
}

.location span{
    font-size: 1.3rem;
}

body.show-no-result .weather-section{
    visibility: hidden;
}

.no-result{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

body.show-no-result .no-result{
    display: flex;
}

.no-result .title{
    margin: 25px 0 15px;
}

.no-result .message{
    font-weight: 500;
}

.no-result .weather-icon{
    width: 140px;
    aspect-ratio: 1;
}

.current-weather{
    display: flex;
    align-items: center;
    padding: 20px 0 50px;
    flex-direction: column;
}

.current-weather .weather-icon{
    width: 140px;
    aspect-ratio: 1;
}

.current-weather .temprature{
    font-size: 3.38rem;
    margin: 23px 0;
    display: flex;
}


.temprature span{
    font-size: 1.56rem;
    font-weight: 500;
    margin: 5px 0 0 2px;
}

.description{
    font-size: 1.25rem;
    font-weight: 500;
}

.hourly-weather{
    padding: 16px 25px;
    border-top: 1px solid #beb0ff;
}

.weather-list{
    display: flex;
    list-style: none;
    gap: 38px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    padding-bottom: 16px;
    margin-bottom: -16px;
}

.hourly-weather:hover .weather-list{
   scrollbar-color:#bfbfbf transparent;
}

.weather-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7pxx;
    font-weight: 500;

}

.weather-icon{
width: 28px;
aspect-ratio: 1;
}

@media (max-width:768px) {
    body{
        padding: 15px;
    }

    .search-section{
        padding: 20px;
    }

    .hourly-weather{
        padding: 16px 20px;
    }

    .weather-list{
        gap: 32px;
    }
}