<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Post</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <form method="post" action="/posts">
        <input placeholder="Enter Username" name="username" />
        <input placeholder="Add Image URL" name="img" />
        <textarea placeholder="Enter the post" name="content"></textarea>
        <button>Sumbit</button>
    </form>
</body>

</html>