@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background-color: #7d56f3;
}

.container{
    width: min(40%,28.12em);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.container *{
     border: none;
    outline: none;
}

.input-wrapper{
    background-color: white;
    padding: 1.87em 1.5em;
    border-radius: 0.5em;
    box-shadow: 0 0.93em 1.25em rgba(0,0,0,0.3);
    margin-bottom: 3.12em;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
}

input,button{
    font-weight: 500;
    border-radius: 0.31em;
}

input{
    background-color: #eeeeff;
    padding: 1.2em 1.25em;
    font-size: 0.87em;
}

button{
    color: white;
    background-color: #7d56f3;
}

.output-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.output-wrapper div{
    height: 6.25em;
    width: 6.25em;
    background-color: white;
    color: #080808;
    border-radius: 0.31em;
    display: grid;
    place-items: center;
    padding: 1.25em 0;
     box-shadow: 0 0.93em 1.25em rgba(0,0,0,0.3);
}

span{
    font-size: 1.87em;
    font-weight: 500;
}

p{
    font-size: 0.87em;
    color: #707070;
    font-weight: 400;
}

@media (max-width:768px){
    .container{
    width: 90%;
    }

    .input-wrapper{
    display: grid;
    grid-template-columns: 9fr 3fr;
}
input{
    width: 100%;
}
}