
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #905050;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    margin: 20px 0;
    text-align: center;
    font-size: 3rem;
    color: white;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
  width: 32%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
  box-shadow: 0 0 20px #333;
  object-fit: cover;
  transition: filter 0.5s ease;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.5s;
  filter: drop-shadow(0 0 10px #333);
}

.card:hover img {
  filter: grayscale(0%);
}

figcaption {
  position: absolute;
  bottom: 0;
  padding: 10px 15px;      
  width: 100%;
  font-size: 20px;          
  font-weight: 500;
  color: #000000;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(0deg, rgba(255,255,255, 0.95), rgba(255,255,255, 0.7));
  transition: 0.3s;
}



.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}

@media (max-width:768px){

    .card{
    width: 45%;
    height: 20vh;
}

}