@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    color: white;
    font-family:'Poppins';
    font-style: bold;
}

main{
    background-color: #0a0519;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#head{
    width: 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

}

#head .player{
    background: #17122a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 12px;
    border: 4px solid #17122a;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
}

#head .player:hover{
 border: 4px solid #2a2343;
}

#head .active-P{
    opacity: 1;
    border: 4px solid #2a2343;
}

#head #xPlayer{
    color: #1892ea;
}

#head #oPlayer{
    color: #a737ff;
}

#choose{
    font-weight: 600;
    font-size: 25px;
}

#board{
display: grid;
grid-template-columns: repeat(3,70px);
grid-template-rows: repeat(3,70px);
gap: 12px;
}

#board .cell{
 background:  #17122a;
 border-radius: 12px;
 display: flex;
 align-items: center;
 justify-content: center;
 font-weight: bold;
 cursor: pointer;
 font-size: 36px;
 transition: 0.3s background;
}

#board .cell:hover{
     background:  #2a2343;
}

#restart{
    margin-top: 30px;
     background:  #17122a;
    width: 20%;
    padding: 8px 0;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
     transition: 0.3s background;
     visibility: hidden;
}

#restart:hover{
    background:  #2a2343;
}

@media (max-width:768px){
    #head{
    width: 60%;
}

#choose{
    font-size: 20px;
}
}

